*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #fffbf8;
}

:root{

    /* colors */

    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    /* fonts */

    --names-and-titles: 'Fraunces', serif;
    --text: 'Barlow', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
}

.hero{
    background-image: url(./images/mobile/image-header.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 30px;
    align-content: center;
}

.hero__text{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 130px;
    text-align: center;
}

.hero__phrase{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--names-and-titles);
    line-height: 6rem;
    letter-spacing: 1.3rem;
}

.hero__arrow{
    height: 160px;
    width: 50px;
    margin: 0 auto;
}

/* terminamos parte del hero */

.benefits__container{
    display: grid;
    height: 1800px;
    grid-template-columns: 1fr;
    grid-template-rows: 405px 495px 405px 495px;
}

.benefit__description{
    background-color: var(--white);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 95%;
    margin: 0 auto;
}

.benefit__title{
    font-size: 4.5rem;
    font-family: var(--names-and-titles);
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.benefit__text{
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: 10px;
    font-family: var(--text);
    color: var(--grayish-blue);
    text-align: center;
}

.benefit__cto{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: var(--text);
    font-size: 2.5rem;
    color: var(--very-dark-desaturated-blue);
    margin-bottom: 20px;
}

.benefit__image--transform{
    background-image: url(./images/mobile/image-transform.jpg);
    background-position: center;
    background-size: cover;
}

.benefit__image--stand{
    background-image: url(./images/mobile/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
}

/* terminamos parte de los beneficios */

.services__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 750px 750px;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}

.service__description{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.service__title{
    font-size: 4.3rem;
    font-family: var(--names-and-titles);
    color: var(--dark-desaturated-cyan);
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.service__text{
    font-size: 2.3rem;
    margin-bottom: 50px;
    margin-top: 10px;
    font-family: var(--text);
    color: var(--dark-desaturated-cyan);
    text-align: center;
}

.service--graphic{
    background-image: url(./images/mobile/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
}

.service--photography{
    background-image: url(./images/mobile/image-photography.jpg);
    background-position: center;
    background-size: cover;
}

/* se termina parte de services */

.testimonials{
    background-color: #fffbf8;
    margin-bottom: 40px;
}

.testimonials__title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 2.3rem;
    font-family: var(--names-and-titles);
    letter-spacing: 0.5rem;
    color: var(--dark-grayish-blue);
}

.testimonials__container{
    height: 1500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    
}

.testimonial{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.testimonial__image{
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
}

.testimonial__opinion{
    font-size: 2.4rem;
    font-family: var(--text);
    line-height: 4rem;
    color: var(--very-dark-grayish-blue);
    margin: 40px 0;
}

.testimonial__name{
    font-size: 2.5rem;
    font-family: var(--names-and-titles);
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
    margin-bottom: 15px;
}

.testimonial__job{
    font-size: 1.8rem;
    font-family: var(--text);
    color: var(--grayish-blue);
}

/* se terminan testimonios */

.decoratives{
    display: grid;
    width: 100%;
    height: 475px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.decorative{
    background-position: center;
    background-size: cover;
}

.decorative--milk{
    background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
}

.decorative--plate{
    background-image: url(./images/mobile/image-gallery-orange.jpg);
}

.decorative--ice-cream{
    background-image: url(./images/mobile/image-gallery-cone.jpg);
}

.decorative--sugar{
    background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
}

/* se termina sección decorativa */ 

/* footer */

footer{
    height: 475px;
    background-color: #90d4c5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    align-items: center;
    text-align: center;
}

.footer__menu{
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__logo{
    width: 250px;
    margin-block-end: 60px;
    margin-block-start: 70px;
}

.footer__menu-item{
    text-decoration: none;
    list-style: none;
    font-size: 2.1rem;
    font-family: var(--text);
    color: var(--dark-desaturated-cyan);
}

.social{
    display: flex;
    justify-content: space-evenly;
    margin-inline-end: 80px;
    margin-inline-start: 80px;
}

.social__logo{
    width: 25px;
}

/* versión tablet */

@media (min-width: 700px){
    .hero{
    background-image: url(./images/desktop/image-header.jpg);
    }
    .hero__text{
    margin-bottom: 220px;
    }
    .benefits__container{
    display: grid;
    height: 1200px;
    /* grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; */
    grid-template: 
    "trans egg" 50%
    "cup stand" 50% /
    50% 50%;
    }
    .benefit__description{
        max-width: 60%;
        margin: 0 auto;
    }
    .benefit__image--transform{
        grid-area: egg;
    }
    .benefit__image--stand{
        grid-area: cup;
    }
    .benefit__description--transform{
        grid-area: trans;
    }
    .benefit__description--stand{
        grid-area: stand;
    }
    .benefit__title{
    font-size: 3.4rem;
    }
    .benefit__text{
    font-size: 1.6rem;
    }
    .benefit__cto{
    font-size: 1.6rem;
    }
    .services__container{
    display: grid;
    height: 600px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    }
    .service{
    padding-top: 50px;
    }
    .service--graphic{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    }
    .service--photography{
    background-image: url(./images/desktop/image-photography.jpg);
    }
    .service__description{
    margin: 0 auto;
    margin-bottom: 30px;
    }
    .service__title{
    padding-top: 30px;
    font-size: 3.1rem;
    }
    .service__text{
    font-size: 1.6rem;
    margin-bottom: 20px;
    }
    .testimonials{
    height: 500px;
    }
    .testimonials__container{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    }
    .testimonial__image{
    width: 80px;
    }
    .testimonial__opinion{
    font-size: 1.4rem;
    line-height: 2.7rem;
    }
    .testimonial__name{
    font-size: 1.5rem;
    }
    .testimonial__job{
    font-size: 1rem;
    }
    .testimonials__title{
    margin-top: 100px;
    }
    .decoratives{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;
    height: auto;
    }
    .social{
    width: 500px;
    margin: 0 auto;
    }
}

@media (min-width: 1300px){
    .service__description{
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    }
    .social{
    width: 800px;
    margin: 0 auto;
    }
}